/* Base */
body {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background: #DDDDDD;
}

.nav {
    margin-left: 10px;
    margin-right: 10px;
}

.nav > li.li-horizontal {
    display: flex;
}

table, th, td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

/* Tree */
.panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
}

.panel-title > a.panel-title-content {
    font-weight: bold;
    padding-left: 5px;
}

.selected {
    background: #FFEEEE;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* Page */
.page-box {
    background: #FFFFFF;
    border: #AAAAAA 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.page-title {
    font-size: large;
    text-align: center;
}

#content {
    height: calc(100vh - 300px);
}

#content-viewer {
    padding: 10px;
    height: calc(100vh - 300px);
    overflow: scroll;
    border: 1px solid black;
    outline: none;
}
