/* Base */
body {
    padding-top: 60px;
}

.nav > li.li-horizontal {
    display: flex;
}

/* Main */
.panel-title > a.panel-title-content {
    font-weight: bold;
    padding-left: 5px;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

/* Page */
.page-title {
    text-align: center;
}

.page-content {
    padding: 40px 15px;
    text-align: center;
}
