body {
    padding-top: 50px;
}
.page-title {
    text-align: center;
}
.page-content {
    padding: 40px 15px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}