{% extends 'blog/base.html' %}

{% load i18n %}

{% block header %}
    <!-- SimpleMDE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form id="create_page_form" action="{% url 'page' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">{% trans 'Title' %}</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="parent_title">{% trans 'Parent' %}</label>
                <input type="text" class="form-control" id="parent_title" name="parent_title" value="{{ parent_title }}"
                       readonly>
            </div>
            <div class="form-group">
                <label for="content">{% trans 'Content' %}</label>
                <textarea class="form-control" id="content" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">
                {% trans 'Create' %}
            </button>
        </form>
    </div>
    <script>
        var simplemed = new SimpleMDE({element: document.getElementById('content')});
    </script>
{% endblock %}