{% extends 'blog/base.html' %}

{% load i18n %}

{% block title %}
    {% trans "YangSpace" %} - {% trans "Blog" %}
{% endblock %}

{% block content %}
    <script>
        $(function () {
            $('.glyphicon-chevron-right, .glyphicon-chevron-down').on('click', function () {
                $(this)
                    .toggleClass('glyphicon-chevron-right')
                    .toggleClass('glyphicon-chevron-down');
            });
        });
    </script>
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                {% if request.user.is_authenticated %}
                    <div class="main-control-panel">
                        <h4>{% trans 'Contol Panel' %}</h4>
                        <a href="{% url 'server-backup' %}" role="button"
                           class="btn btn-default">{% trans 'Backup' %}</a>
                        <a href="{% url 'download-debug-info' %}" role="button"
                           class="btn btn-default">{% trans 'Download Debug Info' %}</a>
                    </div>
                {% endif %}
                <div class="main-current-list">
                    <h4>{% trans 'Currently changed' %}</h4>
                    {% for page in current_pages %}
                        <div class="main-current-page list-group-item">
                            <a href="{% url 'read' page_url=page.url %}" class="panel-title-content">
                                {{ page.title }}
                                <small style="float: right">{{ page.updated_at }}</small>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                {% include 'blog/_tree.html' %}
            </div>
        </div>
    </div>
{% endblock %}