{% extends 'blog/base.html' %}

{% load i18n %}

{% block title %}
    {% trans "YangSpace" %} - {% trans "Blog" %}
{% endblock %}

{% block content %}
    <script>
        $(function () {
            $('.glyphicon-chevron-right, .glyphicon-chevron-down').on('click', function () {
                $(this)
                    .toggleClass('glyphicon-chevron-right')
                    .toggleClass('glyphicon-chevron-down');
            });
        });
    </script>
    <div class="container">
        {% if request.user.is_authenticated %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <div class="well well-sm">
                <a href="{% url 'server-backup' %}" role="button"
                   class="btn btn-default">{% trans 'Backup' %}</a>
                <a href="{% url 'download-debug-info' %}" role="button"
                   class="btn btn-default">{% trans 'Download Debug Info' %}</a>
            </div>
        {% endif %}
        {% include 'blog/_tree.html' %}
    </div>
{% endblock %}