{% extends 'blog/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
    {% trans "YangSpace" %} - {% trans "Blog" %} | {{ page.title }}
{% endblock %}

{% block header %}
    <script src="{% static 'js/ajax_call.js' %}"></script>
    <script>
        $(document).ready(function () {
            select_page("{{ page.title | escapejs }}");
            $('.page-content').convert_and_fill("{{ page.content | escapejs }}");
        });
    </script>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-12">
                <div class="control-panel">
                    <h4>{% trans 'Contol Panel' %}</h4>
                    <a href="{% url 'create' parent_url=page.url %}" role="button"
                       class="btn btn-default">{% trans "Create" %}</a>
                    <a href="{% url 'update' page_url=page.url %}" role="button"
                       class="btn btn-default">{% trans "Update" %}</a>
                    <a href="{% url 'delete' page_url=page.url %}" role="button"
                       class="btn btn-default">{% trans "Delete" %}</a>
                    <a href="/admin/blog/page/{{ page.id }}/history/" role="button"
                       class="btn btn-default">{% trans "History" %}</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class="page-box">
                <div class="page-title">
                    {{ page.title }}
                </div>
                <hr>
                <div class="page-content">
                    {{ page.content | safe }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include 'blog/_tree.html' %}
        </div>
    </div>
{% endblock %}