{% extends 'blog/base.html' %}

{% load i18n %}

{% block title %}
    {% trans "YangSpace" %} - {% trans "Blog" %} | {{ page.title }}
{% endblock %}

{% block header %}
    <script>
        $(document).ready(function () {
            showdown.setFlavor('github');
            var converter = new showdown.Converter(),
                text = "{{ page.content | escapejs }}",
                html = converter.makeHtml(text);
            $('.page-content').html(html);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-box col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="page-title">
                <h1>{{ page.title }}</h1>
                <hr>
                <!-- TODO: other information for page -->
            </div>
            <div class="page-content">
                {{ page.content | safe }}
            </div>
        </div>
    </div>
{% endblock %}