{% extends 'blog/base.html' %}

{% load i18n %}

{% block title %}
    {% trans "YangSpace" %} - {% trans "Blog" %} | {{ page.title }}
{% endblock %}

{% block header %}
    <script>
        $(document).ready(function () {
            select_page("{{ page.title | escapejs }}");
            $('.page-content').convert_and_fill("{{ page.content | escapejs }}");
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="page-box">
                <div class="page-title">
                    {{ page.title }}
                </div>
                <hr>
                <div class="page-content">
                    {{ page.content | safe }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% include 'blog/_tree.html' %}
        </div>
    </div>
{% endblock %}