{% extends 'blog/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
    {% trans "YangSpace" %} - {% trans "Blog" %} | {% trans "Update" %}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'lib/simplemde.min.css' %}"/>
    <script src="{% static 'lib/simplemde.min.js' %}"></script>
    <script src="{% static 'js/mdeditor.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-box col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <form id="create_page_form" action="{% url 'update' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ page.url }}"/>
                <div class="form-group">
                    <label for="title">{% trans 'Title' %}</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ page.title }}">
                </div>
                <div class="form-group">
                    <label for="content">{% trans 'Content' %}</label>
                    <textarea class="form-control" id="content" name="content">{{ page.content }}</textarea>
                </div>
                <button type="submit" class="btn btn-default">
                    {% trans 'Update' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}